@import "./styles/global.css";
@import "./styles/home.css";
@import "./styles/cultura.css";
@import "./styles/turistico.css";
@import "./styles/culinaria.css";
@import "./styles/economia.css";
@import "./styles/quiz.css";
@import "./styles/cadastro.css";
@import "./styles/login.css";