.ingredientes, .bebidas, .culinaria{
    margin-bottom: 8rem;
    display: flex;            
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 1rem;


    h2{
        font-size: 4rem;
        color: #fffbeb;
        margin-bottom: 1rem;
    }
    p{
        font-size: 2rem;
        color: #fffbeb;
        margin-top: 2rem;
        max-width: 80rem;
        text-align: center;
    }
}

.ingredientes, .bebidas{
    img{
        display: block;
        width: 28.4rem;
        height: auto;
        margin: 0 auto;
        border-radius: 2.5rem;
    }
}

.elementos-ingredientes, .elementos-bebidas{
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
}