.heranca, .gastronomia, .danca, .cultura1 {
    margin-bottom: 5rem;
    display: flex;            
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;


    h2{
        font-size: 4rem;
        color: #fffbeb;
        margin-bottom: 4rem;
    }
}

.cultura1{
    text-align: center;
    p{
        font-size: 2rem;
        color: #fffbeb;
        margin-top: 4rem;
        max-width: 80rem;
        text-align: center;
    }
}
    
.heranca, .gastronomia, .danca{
    p{
        font-size: 2rem;
        color: #fffbeb;
        margin-top: 4rem;
        max-width: 80rem;
        text-align: center;
    }

    img{
        display: flex;
        width: 28.4rem;
        height: 18.9rem;
        border-radius: 2.5rem;
    }

    #arquitetura, #religiao, #mumification{
        position: absolute;
        top: 152.46rem;
    }

    #arquitetura, #arquitetura-p{
        left: 19.78rem;
    }
    #religiao, #religiao-p{
        left: 53.81rem;
    }
    #mumification, #mumification-p{
        left: 88.41rem;
    }

    #arquitetura-p, #religiao-p, #mumification-p{
        position: absolute;
        top: 169.46rem;
        width: 26.75rem;
    }
}

img.centro{
    border-radius: 2.5rem;
    margin: 0 auto;
    width: 95rem;
    height: 46rem;
}

.gastronomia{
    margin-top: 50rem;
}

.danca{
    margin-bottom: 11rem;
}

.gastronomia, .danca{
    li{
        list-style: none;
        font-size: 2rem;
        color: #fffbeb;
        margin-top: 1rem;
    }
}
.gastronomia{
        ul{
            margin-bottom: 8rem;
        }
}