.heranca, .gastronomia, .danca, .cultura1 {
    margin-bottom: 5rem;
    display: flex;            
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;


    h2{
        font-size: 4rem;
        color: #fffbeb;
        margin-bottom: 4rem;
    }
}

.cultura1{
    text-align: center;
    p{
        font-size: 2rem;
        color: #fffbeb;
        margin-top: 4rem;
        max-width: 80rem;
        text-align: center;
    }
}
    
.heranca, .gastronomia, .danca{
    margin-top: 8rem;
    p{
        font-size: 2rem;
        color: #fffbeb;
        margin-top: 2rem;
        max-width: 80rem;
        text-align: center;
    }

    img{
        display: block;
        width: 28.4rem;
        height: auto;
        margin: 0 auto;
        border-radius: 2.5rem;
    }
}

img.centro{
    display: block;
    border-radius: 2.5rem;
    margin: 0 auto;
    width: 95rem;
    height: 46rem;
}

.gastronomia, .danca{
    li{
        list-style: none;
        font-size: 2rem;
        color: #fffbeb;
        margin-top: 1rem;
    }
}

.elementos-heranca{
    display: flex;
    justify-content: center;
    gap: 3rem;
}