.economia-int, .economia, .suez, .agricultura{
    margin-bottom: 5rem;
    display: flex;            
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    h2{
        font-size: 4rem;
        color: #fffbeb;
        margin-bottom: 2rem;
    }
    p{
        font-size: 2rem;
        color: #fffbeb;
        margin-top: 2rem;
        max-width: 80rem;
        text-align: center;
    }
}

.suez, .agricultura{
    li{
        list-style: none;
        font-size: 2rem;
        color: #fffbeb;
        margin-top: 1rem;
    }
}