*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100vw;
}

:root{
    font-size: 62.5%;
    font-family: "Montserrat", sans-serif;
}

.page{
    max-width: 1120px;
    margin-inline: auto;
}


body{
    font-size: 1.6rem;
    background-color: #fcb86f;
}

h1{
    font-size: 4.5rem;
    text-align: center;
    margin-bottom: 4rem;
    color: #fffbeb;
}

header {
    width: 100%;
    display: block;

    ul{
    display: flex;
    text-decoration: none;
    justify-content: right;
    margin-bottom: 9rem;
    margin-top: 5rem;
    }

    li:last-child{
        margin-right: 7rem;
    }
}


header ul a,header li{
    text-decoration: none;
    list-style: none;
    margin-left: 2.5rem;
    color: #fffbeb;
    font-size: 1.5rem;
}

.elemento{
    align-items: center;
    max-width: 28rem;

    img{
        display: block;
        border-radius: 2.5rem;
        margin-top: 2rem;
    }
}