.home-body{
    background-image: url(../img/EGITOOOOO.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#home-h1{
    font-size: 10.8rem;
    width: 39.7rem;
    color: #fffbeb;
}

#home-div{
    background-color: rgba(252, 184, 111, 0.75);
    border-radius: 25px;
    max-width: 50rem;
    padding: 2rem;
    margin-top: 14rem;

    p{
        line-height: 1.3;
        color: #fffbeb;
    }
}
#home-main{
    display: flex;
    gap: 17rem;
}