.login-body{
    background-image: url(../img/EGITOOOOO.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#login-h1{
    font-size: 5rem;
    margin-top: 18rem;
    color: #fffbeb;
    text-align: left;
}

#login-div{
    border-radius: 25px;
    width: 45rem;
    padding: 2rem;
    margin-top: 4rem;
    margin-bottom: 5rem;
    background-color: rgba(254, 237, 213, 0.75);

    p{
        line-height: 1.3;
        color: #fffbeb;
    }

    label{
        color: #fb8922;
        font-size: 2rem;
    }

    input{
        width: 40rem;
    }
}
#login-main{
    display: flex;
    gap: 17rem;
}


.login-b{
    padding: 2rem;
    width: 41rem;
    text-align: center;
}